*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header{
    background-color: #1F2235;
    padding:50px
}
.horizontal{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-item{
    list-style: none;
    display: inline-block;
    margin: 0 16px;
}

.brand img{
    width: 100px;
}

.nav-item a{
    text-decoration: none;
    font-weight: 20px;
    font-size: 500;
    color: #FFFFFF;
}   

#home{
    background-color:#24263B;
}

.Home{
    padding: 160px;
}

.fa-facebook{
    font-size:  x-large;
}

.fa-twitter{
    font-size:  x-large;
    margin-left: 15px;
}

.fa-border-radius{
    --fa-border-radius: 70px;
    --fa-border-color: #FF4A57;
}

.fa-pinterest{
    font-size:  x-large;
    margin-left: 15px;
}

.fa-instagram{
    font-size:  x-large;
    margin-left: 15px;
}

.fa-behance{
    font-size: x-large;
    margin-left: 15px;
}
.fa-pinterest:hover{
    background-color: #FF4A57;
}

.fa-instagram:hover{
    background-color: #FF4A57;
}

.fa-behance:hover{
    background-color: #FF4A57;
}
.fa-twitter:hover{
    background-color: #FF4A57;
}

.fa-facebook:hover{
    background-color: #FF4A57;
}

.button2{
    background-color: #24263B;
    border-radius: 35px;
    border-color: #FF4A57;
    font-size: x-large;
}

.btn{
    background-color: #FF4A57;
    border-radius: 5px;
    margin-left: 20px;
}

.fa-youtube{
    font-size: 45px;
    border-radius:80px;
}

.button2:hover{
    background-color: #FF4A57;
}
